body {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  canvas {
    padding: 0;
    margin: 0;
  }
  div.btnbg {
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 15px #ccc;
  }
  div.btnbg:hover {
    text-shadow: 0px 0px 3px #ccc;
    box-shadow: 0px 0px 20px #ccc;
  }
  .rafi {
      z-index:4;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 35px;
    font-weight: 10;
    font-family: sans-serif;
    -webkit-animation: reveal 0ms ease-in-out forwards 500ms, glow 1000ms linear infinite 2000ms;
            animation: reveal 0ms ease-in-out forwards 500ms, glow 1000ms linear infinite 2000ms;
  }
  @-webkit-keyframes reveal {
    80% {
      letter-spacing: 5px;
    }
    100% {
      background-size: 200% 200%;
    }
  }
  @keyframes reveal {
    80% {
      letter-spacing: 5px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @-webkit-keyframes glow {
    40% {
      text-shadow: 0 0 5px #fff;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 5px #fff;
    }
  }
